# An (-*- asm -*-) Uninspired VM program testing a leaf procedure call.
# Copyright (C) 2017 Luca Saiu
# Written by Luca Saiu

# This file is part of Jitter.

# Jitter is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Jitter is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Jitter.  If not, see <http://www.gnu.org/licenses/>.


# Print something before calling.
        printfixnum 0

# Call.  The procedure will print its number and return.
        procedurecall $procedure

# Print something after calling, and exit.
        printfixnum 2
        endvm

# Procedure: print something and return.
$procedure:
        procedureprolog
        printfixnum 1
        procedurereturn
