# An (-*- asm -*-) Uninspired VM program using a non-taken conditional branch.
# Copyright (C) 2017 Luca Saiu
# Written by Luca Saiu

# This file is part of Jitter.

# Jitter is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Jitter is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Jitter.  If not, see <http://www.gnu.org/licenses/>.


# Initialize two registers to be compared.
        mov         10, %r0
        mov         25, %r1

# Branch to the unreachable part if a false condition checks as true.
        bgt         %r0, %r1, $unreachable

# Fall-thru code.
        printfixnum 12345
        endvm

# Unreachable code.
$unreachable:
        printfixnum 42
