# An (-*- asm -*-) Uninspired VM program loading and printing 0xffff.
# Copyright (C) 2017 Luca Saiu
# Written by Luca Saiu

# This file is part of Jitter.

# Jitter is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Jitter is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Jitter.  If not, see <http://www.gnu.org/licenses/>.


# 0xffff is a critical value to load on some architectures, as the largest
# 16-bit value which can be zero-extended but *not* sign-extended into 32 bits.
# This is particularly delicate on some RISCs which have no way of loading
# such a constant in one instruction (such as PowerPC) and still worthy
# of a check on others which can (such as MIPS).
        mov         0xffff, %r0
        printfixnum %r0
